body {
  background-color: #f0f0f0;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 16px;
  padding: 16px;
  font-size: 16px;
}

.container h1:first-child {
  margin-top: 0;
}

.song-item {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 8px 18px;
  cursor: pointer;
  margin-left: -16px;
  margin-right: -16px;
  scroll-margin: 16px;
}

.song-item::after {
  content: "";
  position: absolute;
  margin-left: -16px;
  margin-right: -16px;
  background: #f0f0f0;
  height: 2px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: default;
}

.expanded {
  background-color: #f9f9f9;
}

@media (hover: hover) {
  .song-item:hover {
    background-color: #f9f9f9;
  }
}

.song-details {
  overflow: hidden;
  max-height: 0;
  box-sizing: content-box;
  transition: max-height 0.2s ease-out;
}

.expanded .song-details {
  display: block;
}

.song-details > table {
  border-collapse: collapse;
  margin-top: 8px;
}

.song-details > table td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 8px;
  white-space: nowrap;
  vertical-align: top;
}

ul#song-list {
  list-style-type: none;
  padding: 0;
  padding: 0;
  margin: 0;
}

.song-number {
  width: 45px;
  display: inline-block;
  flex-shrink: 0;
}

.song-content {
  display: inline-block;
  position: relative;
  flex-grow: 1;
}

.song-title {
  font-weight: 500;
}

.song-subtitle {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: -50px;
  right: 24px;
  z-index: 99;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  transition: bottom 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

#scroll-to-top-btn:hover {
  background-color: #333;
}

#scroll-to-top-btn.show {
  bottom: 24px;
}
